name: Node.js Package
on:
  release:
    types: [published]
jobs:
  buildForNpm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - name: Change the organization for npm to @kubevirt-ui-ext
        run: jq '.name |= sub("@kubevirt-ui/";"@kubevirt-ui-ext/")' package.json > tmp.json && mv tmp.json package.json
      - uses: actions/setup-node@v6
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'
          scope: '@kubevirt-ui-ext'
        # Ensure npm 11.5.1 or later is installed
      - name: Update npm for Trusted Publishing
        run: npm install -g npm@latest
      - run: |
          npm version
          yarn install --frozen-lockfile --ignore-scripts
      - run: yarn build
      - run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN_FOR_KUBEVIRT_UI_EXT }}
